<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <meta name="google-site-verification" content="l7Kuyqj5cCiS4sc1PoVR37eU0fgn-KwX4s4_RJki_qY" />
    <meta name="theme-color" content="#58B3B2" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="title" content="Dipen Hamal" />
    <meta name="author" content="Dipen Hamal" />
    <meta name="description" content="Full Stack Developer." />
    <link rel="image_src" href="https://dipenhamal.com<%= htmlWebpackPlugin.options.preview %>" />

    <meta property="og:title" content="Dipen Hamal" />
    <meta property="og:url" content="https://dipenhamal.com" />
    <meta property="og:description" content="Full stack developer." />
    <meta property="og:image" content="https://dipenhamal.com<%= htmlWebpackPlugin.options.preview %>" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
